* {
    margin: 0;
    padding: 0;
}
.wrapper {
    display: inline-flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
}
/* the above rule centers the content in the middle of the page */
.wrapper a {
    width: 220px;
    height: 70px;
    text-decoration: none;
    /* the above rule spaces the content out, and removes the underline */
    border: 1px solid #ff0000;
    color: #000;
    font-size: 22px;
    text-align: center;
    line-height: 70px;
    /* basically building these buttons from scratch. */
    margin: 10px;
    font-family: sans-serif;
    position: relative;
}
.wrapper a span {
    background: #ff0000;
    position: absolute;
    /* width: 220px;
    height: 70px; */
    transition: .8s ease-out;
    z-index: -1;
}
/* the below 3 rules create the hover effect */
.wrapper a:hover {
    color: #fff;
    transition: 0.8s;
}
.to-right {
    width: 0px;
    height: 70px;
    left: 0;
    top: 0;
}
.wrapper a:hover .to-right{
    width: 220px;
    transition: .8s;
}
/*  set of hover rules for the to-left button */
.to-left {
    width: 0px;
    height: 70px;
    right: 0;
    top: 0;
}
.wrapper a:hover .to-left{
    width: 220px;
    transition: .8s;
}
/*  set of hover rules for the to-left button */
.to-left {
    width: 0px;
    height: 70px;
    right: 0;
    top: 0;
}
.wrapper a:hover .to-left{
    width: 220px;
    transition: .8s;
}
/*  set of hover rules for the to-top button */
.to-top {
    width: 220px;
    height: 0px;
    right: 0;
    bottom: 0;
}
.wrapper a:hover .to-top{
    height: 70px;
    transition: .8s;
}
/*  set of hover rules for the to-bottom button */
.to-bottom {
    width: 220px;
    height: 0px;
    right: 0;
    top: 0;
}
.wrapper a:hover .to-bottom{
    height: 70px;
    transition: .8s;
}
/*  set of hover rules for the diagonal button */
.diagonal {
    width: 0px;
    height: 0px;
    left: 0;
    bottom: 0;
}
.wrapper a:hover .diagonal{
    height: 70px;
    width: 220px;
    transition: .8s;
}
